

.header {
  background-color: antiquewhite;
  font-size: 3rem;
  padding: 30px;
  display: flex;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.content {
  display: grid;
  gap: 20px;
  justify-content: center;
  margin-top: 100px;
 
}

.text {
  text-align: center;
 min-width: calc(50vw + 50px);
 min-height: calc(30vh);
  background-color: black;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  font-size: 1.25rem;
  padding: 50px;
}

.generate{
  font-size: 1.5rem;
  height: 50px;
}